@import "../src/fonts/font-file.css";
html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  font-family: "Manrope";
  padding: 0px;
  background-color: #FFFFFF;
  font-weight: 400;
  margin: 0px;
  color: #FFFFFF;
  line-height: 22px;
}

.global-bg-black {
  background-color: #000000;
}

.not-mobile {
  display: none;
}

.in-mobile {
  display: block;
}

h1, h2, h3 {
  font-family: "Lora";
  font-weight: 400;
  margin-bottom: 0px;
}

.big-title {
  font-size: 40px;
  line-height: 51px;
}

.subtitle {
  font-size: 20px;
  line-height: 27px;
  opacity: 0.6;
  margin-bottom: 0px;
}

.title {
  font-size: 28px;
  line-height: 36px;
}

.box {
  background: #FFFFFF;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
}

.button-kleo {
  padding: 12px 30px;
  background-color: transparent;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  color: #FFFFFF;
  transition: 0.3s all linear;
  border: 1px solid #FFFFFF;
  display: block;
  text-align: center;
}
.button-kleo:hover {
  border: 1px solid transparent;
  background-color: #0063F5;
  box-shadow: 0px 8px 14px rgba(0, 99, 245, 0.2);
}

header ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
header .col-info {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 24px;
  padding-top: 40px;
  background-color: #000000;
}
header .col-info .main-menu {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
header .col-info .main-menu li {
  height: fit-content;
}
header .col-info .list-header {
  margin-top: 32px;
}
header .col-info .list-header span {
  color: #0063F5;
  margin-right: 12px;
}
header .col-info .list-header li {
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;
}
header .col-info .logo {
  text-indent: -99999px;
  width: 96px;
  height: 27px;
  background-repeat: no-repeat;
  background-image: url("../images/logo-kleo.png");
  display: block;
}
header .col-image {
  background-color: #FFFFFF;
}
header .col-image .papers {
  padding-top: 36px;
  position: relative;
  max-width: 425px;
  margin: auto;
}
header .col-image .papers .logos .p-absolute {
  position: absolute;
  display: block;
}
header .col-image .papers .logos .minutos-logo {
  top: 10%;
  left: 5%;
}
header .col-image .papers .logos .abc-logo {
  top: 23%;
  left: 11%;
}
header .col-image .papers .logos .pais-logo {
  top: 3%;
  left: 23%;
}
header .col-image .papers .logos .confidencial-logo {
  top: 2%;
  left: 52%;
}
header .col-image .papers .logos .as-logo {
  top: 31%;
  left: 8%;
}
header .col-image .papers .logos .mundo-logo {
  top: 10%;
  left: 37%;
}
header .col-image .papers .logos .razon-logo {
  top: 9%;
  left: 75%;
}
header .col-image .papers .logos .vanguardia-logo {
  top: 15%;
  left: 18%;
}
header .col-image .papers .logos .marca-logo {
  top: 19%;
  left: 59%;
}
header .col-image .papers .logos .expansion-logo {
  top: 19%;
  left: 76%;
}
header .col-image .papers .mobile {
  width: 100%;
}

section.first {
  background-color: #FFFFFF;
  color: #020202;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 61px;
}
section.first .first-row .mobile, section.first .second-row .mobile, section.first .third-row .mobile {
  border-radius: 45px;
  border: 6px solid #020202;
}
section.first .first-row .col-img, section.first .second-row .col-img, section.first .third-row .col-img {
  display: flex;
  justify-content: center;
  flex-direction: row;
  position: relative;
  max-width: 375px;
  margin: auto;
}
section.first .first-row .col-img img, section.first .second-row .col-img img, section.first .third-row .col-img img {
  max-width: 70vw;
}
section.first .first-row .title, section.first .second-row .title, section.first .third-row .title {
  margin-bottom: 12px;
}
section.first .first-row .title ~ p, section.first .second-row .title ~ p, section.first .third-row .title ~ p {
  opacity: 0.6;
  margin-bottom: 20px;
}
section.first .first-row .box, section.first .second-row .box, section.first .third-row .box {
  padding: 18px 6px;
  border-radius: 20px;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.14);
}
section.first .first-row .p-absolute, section.first .second-row .p-absolute, section.first .third-row .p-absolute {
  position: absolute;
  display: block;
}
section.first .first-row {
  padding-bottom: 187px;
}
section.first .first-row .logos .pais-logo {
  bottom: -22%;
  left: 44%;
  padding: 27px 5px;
}
section.first .first-row .logos .razon-logo {
  bottom: 18%;
  right: 0px;
}
section.first .first-row .logos .abc-logo {
  bottom: 12%;
  left: 4%;
}
section.first .first-row .logos .mundo-logo {
  bottom: -8%;
  left: 13%;
  padding: 32px 7px;
}
section.first .first-row .logos .confidencial-logo {
  bottom: -26%;
  left: 8%;
  padding: 25px 6px;
}
section.first .first-row .logos .vanguardia-logo {
  right: 4%;
  bottom: -5%;
}
section.first .second-row {
  padding-bottom: 173px;
}
section.first .second-row .logos .youtube-logo {
  padding: 7px 19px;
  bottom: -19%;
  left: 13%;
}
section.first .second-row .logos .twitter-logo {
  bottom: -2%;
  left: 33%;
  padding: 18px 13px;
}
section.first .second-row .logos .instagram-logo {
  bottom: -11%;
  right: 9%;
  padding: 17px 28px;
}
section.first .third-row {
  padding-bottom: 32px;
}
section.first .third-row .box {
  padding: 16px 12px;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
}
section.first .third-row .col-list {
  display: grid;
  justify-content: flex-start;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 12px;
}
section.first .third-row .col-list .list-item .list-item-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
section.first .third-row .col-list .list-item .list-item-title span {
  color: #231F20;
  padding-right: 11px;
  font-size: 23px;
}
section.first .third-row .col-list .list-item .list-item-title h3 {
  margin: 0px;
  font-family: "Manrope";
  color: #020202;
  font-size: 16px;
}

section.second {
  padding-top: 60px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: #000000;
}
section.second .title {
  margin-bottom: 12px;
}
section.second .title ~ p {
  opacity: 0.6;
  margin-bottom: 24px;
}
section.second .plans {
  display: grid;
  justify-content: flex-start;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 7px;
  max-width: 816px;
  margin: auto;
}
section.second .plans .plan {
  border: 1px solid #303030;
  box-sizing: border-box;
  transition: all 0.3s linear;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px 12px;
}
section.second .plans .plan h3 {
  font-weight: 700;
  margin-bottom: 12px;
  font-size: 24px;
}
section.second .plans .plan .price {
  color: rgba(255, 255, 255, 0.6);
}
section.second .plans .plan .price span {
  font-size: 52px;
  font-family: "Lora";
  font-weight: 700;
  line-height: 67px;
  display: block;
  color: #FFFFFF;
}
section.second .plans .plan ul {
  margin-top: 8px;
  padding-top: 6px;
  margin-bottom: 24px;
  border-top: 1px solid #303030;
  list-style: square;
  padding-left: 0px;
  font-size: 14px;
  line-height: 19px;
  list-style-position: inside;
  transition: all 0.3s linear;
}
section.second .plans .plan ul li {
  /*&::marker{
      color: $blue;
      margin-right: 6px;
  }*/
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;
  position: relative;
  margin-left: 12px;
}
section.second .plans .plan ul li span {
  color: #FFFFFF;
}
section.second .plans .plan ul li:before {
  position: absolute;
  content: "";
  display: block;
  background-color: #0063F5;
  width: 6px;
  height: 6px;
  top: 6px;
  left: -12px;
}
section.second .plans .plan ul li p {
  margin: 0px;
}
section.second .plans .plan .button-kleo {
  font-size: 14px;
  padding: 13px;
}
section.second .plans .plan:hover {
  border: 1px solid #0063F5;
}
section.second .plans .plan:hover ul {
  border-top: 1px solid #0063F5;
}

section.third {
  padding-bottom: 22px;
}
section.third .bg {
  background-color: #0063F5;
  margin-left: 16px;
  margin-right: 32px;
  margin-top: 141px;
  padding: 49px 16px;
  position: relative;
  transform-style: preserve-3d;
}
section.third .bg::before {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("../images/lastsection-mobile-kleo.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.4;
  top: 0px;
  left: 0px;
}
section.third .bg::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  top: 6px;
  left: 6px;
  border: 1px solid #0063F5;
  transform: translateZ(-1px);
}
section.third .bg h2 {
  font-size: 32px;
  line-height: 44px;
  width: 69vw;
  margin-top: 0px;
}

@media (min-width: 769px) {
  section.first .first-row, section.first .second-row, section.first .third-row {
    text-align: center;
  }

  section.second {
    text-align: center;
  }
  section.second .plans {
    text-align: start;
  }
}
@media (min-width: 1024px) {
  body {
    font-size: 24px;
    padding-top: 0px;
    line-height: 33px;
  }

  .container-sc {
    max-width: 1440px;
    margin: auto;
  }

  .title-header {
    margin: 0px;
  }

  .big-title {
    font-size: 68px;
    margin-top: 52px;
    line-height: 86px;
    max-width: 614px;
  }

  .title {
    font-size: 52px;
    margin-top: 0px;
    line-height: 67px;
  }

  .subtitle {
    font-size: 28px;
    line-height: 42px;
    margin-top: 16px;
    max-width: 514px;
  }

  .not-mobile {
    display: block;
  }

  .in-mobile {
    display: none;
  }

  header {
    position: relative;
  }
  header::before {
    position: absolute;
    content: "";
    display: block;
    z-index: -1;
    top: 0px;
    left: -50%;
    width: 50vw;
    height: calc(100% + 1px);
    background-color: #000000;
  }
  header .row {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(13, 1fr);
    grid-gap: 0px;
  }
  header .row .col-info {
    grid-column: span 8;
    padding-left: 104px;
    padding-right: 24px;
    padding-bottom: 148px;
    padding-top: 0px;
    margin-bottom: 0px;
    background-color: #000000;
  }
  header .row .col-info .main-menu {
    margin-top: 31px;
  }
  header .row .col-info .main-menu .not-mobile {
    display: none;
  }
  header .row .col-info .list-header {
    margin-top: 24px;
  }
  header .row .col-info .list-header li {
    font-size: 18px;
  }
  header .row .col-image {
    grid-column: span 5;
  }
  header .row .col-image .papers {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 0px;
    max-width: none;
  }
  header .row .col-image .papers .logos {
    padding-left: 54px;
    padding-right: 33px;
    padding-top: 31px;
    width: auto;
    height: 100%;
  }
  header .row .col-image .papers .logos .p-absolute {
    top: auto;
    left: auto;
    display: inline-block;
  }
  header .row .col-image .papers .logos .abc-logo {
    left: 6%;
  }
  header .row .col-image .papers .logos .pais-logo {
    top: 35px;
    left: 29%;
  }
  header .row .col-image .papers .logos .confidencial-logo {
    top: 18px;
    left: 57%;
  }
  header .row .col-image .papers .logos .vanguardia-logo {
    top: 106px;
    left: 0%;
  }
  header .row .col-image .papers .logos .razon-logo {
    top: 98px;
    left: 71%;
  }
  header .row .col-image .papers .logos .mundo-logo {
    top: 99px;
    left: 38%;
  }
  header .row .col-image .papers .logos .minutos-logo {
    top: 180px;
    left: 19%;
  }
  header .row .col-image .papers .logos .marca-logo {
    top: 182px;
    left: 57%;
  }
  header .row .col-image .papers .logos .expansion-logo {
    top: 184px;
    left: 73%;
  }
  header .row .col-image .papers .logos .as-logo {
    left: 7%;
    top: 21%;
  }
  header .row .col-image .papers picture {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
  }
  header .row .col-image .papers picture img {
    max-width: fit-content;
  }

  section.first {
    position: relative;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  section.first .content {
    padding-left: 104px;
    padding-right: 104px;
  }
  section.first .first-row .title, section.first .second-row .title, section.first .third-row .title {
    margin-bottom: 0px;
  }
  section.first .first-row, section.first .second-row {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(13, 1fr);
    grid-gap: 0px;
    text-align: start;
  }
  section.first .first-row {
    padding-top: 120px;
    padding-bottom: 0px;
  }
  section.first .first-row .title ~ p {
    max-width: 504px;
  }
  section.first .first-row .col-text {
    grid-column: span 7;
  }
  section.first .first-row .col-img {
    grid-column: span 4;
    width: 100%;
    max-width: none;
    justify-content: space-between;
    padding-left: 100px;
  }
  section.first .first-row .logos .razon-logo {
    bottom: 49%;
    right: unset;
    left: 81%;
    padding: 26px 15px;
  }
  section.first .first-row .logos .abc-logo {
    bottom: 14%;
    left: -21px;
  }
  section.first .first-row .logos .vanguardia-logo {
    right: unset;
    left: -77px;
    bottom: 33%;
  }
  section.first .first-row .logos .mundo-logo {
    left: 92%;
    bottom: 30%;
    padding: 27px 7px;
  }
  section.first .first-row .logos .pais-logo {
    bottom: 50%;
    left: 0%;
  }
  section.first .first-row .logos .confidencial-logo {
    padding: 25px 9px;
    bottom: 14%;
    left: 87%;
  }
  section.first .second-row {
    padding-top: 100px;
    padding-bottom: 0px;
  }
  section.first .second-row .col-text {
    grid-column: span 7;
    order: 2;
  }
  section.first .second-row .col-text .title {
    max-width: 520px;
  }
  section.first .second-row .col-text .title ~ p {
    max-width: 443px;
  }
  section.first .second-row .col-img {
    grid-column: span 6;
    width: 100%;
    max-width: none;
    justify-content: space-between;
  }
  section.first .second-row .logos .instagram-logo {
    padding: 10px 30px;
    bottom: 4%;
    right: unset;
    left: 364px;
  }
  section.first .second-row .logos .twitter-logo {
    bottom: 23%;
    left: 272px;
  }
  section.first .second-row .logos .youtube-logo {
    padding: 0px 22px;
    left: 339px;
    bottom: 41%;
  }
  section.first .third-row {
    padding-top: 160px;
    padding-bottom: 141px;
    overflow: hidden;
    width: 100%;
    max-width: 1233px;
    margin: auto;
  }
  section.first .third-row .title {
    max-width: 640px;
    margin: auto;
  }
  section.first .third-row .title ~ p {
    margin-bottom: 78px;
  }
  section.first .third-row .col-list {
    /*display: grid;*/
    justify-content: center;
    grid-template-columns: repeat(10, minmax(0, 110px));
    grid-gap: 14px;
    display: flex;
    animation: slider 30s infinite linear;
  }
  section.first .third-row .col-list .list-item {
    max-width: calc(110px - 18px);
    grid-column: span 1;
    margin: 0px;
    width: auto;
    padding: 16px 9px;
  }
  section.first .third-row .col-list .list-item .list-item-title {
    display: inline-block;
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(2, 2, 2, 0.1);
    margin-bottom: 27px;
  }
  section.first .third-row .col-list .list-item .list-item-title span {
    padding: 0px;
  }
  @keyframes slider {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  section.second {
    padding-top: 120px;
    padding-left: 104px;
    padding-right: 104px;
  }
  section.second .title {
    margin-bottom: 0px;
  }
  section.second .title ~ p {
    max-width: 506px;
    margin: auto;
    margin-top: 28px;
    margin-bottom: 64px;
  }
  section.second .plans {
    max-width: 816px;
    margin: auto;
  }
  section.second .plans .plan {
    padding: 32px 20px;
    padding-bottom: 24px;
  }
  section.second .plans .plan h3 {
    font-size: 32px;
    line-height: 46px;
    margin-top: 0px;
    margin-bottom: 10px;
  }
  section.second .plans .plan h3 ~ p:not(.price) {
    max-width: 320px;
    margin-top: 0px;
    margin-bottom: 11px;
    font-size: 16px;
    opacity: 0.6;
  }
  section.second .plans .plan .price {
    margin-top: 0px;
    margin-bottom: 28px;
    font-size: 13px;
    line-height: 18px;
  }
  section.second .plans .plan .price span {
    display: inline-block;
    margin-right: 10px;
  }
  section.second .plans .plan ul {
    margin-top: 0px;
    padding-top: 20px;
    margin-bottom: 11px;
  }
  section.second .plans .plan .button-kleo {
    font-size: 16px;
    line-height: 26px;
  }

  section.third {
    padding: 0px 104px;
    padding-bottom: 44px;
  }
  section.third .bg {
    margin: auto;
    margin-top: 120px;
    max-width: 1232px;
    padding-left: 40px;
    padding-top: 60px;
    background-color: #007EF7;
  }
  section.third .bg::before {
    background-image: url("../images/lastsection-desktop-kleo.png");
    background-size: auto 100%;
    background-position: right;
    z-index: -1;
  }
  section.third .bg::after {
    top: 20px;
    left: 20px;
  }
  section.third .bg h2 {
    max-width: 764px;
    font-size: 36px;
    line-height: 46px;
    margin-bottom: 11px;
  }
  section.third .bg .not-mobile form {
    display: flex;
  }
  section.third .bg .not-mobile form label {
    visibility: hidden;
    position: absolute;
    left: -99999999px;
  }
  section.third .bg .not-mobile form input[type=text] {
    background-color: rgba(229, 229, 229, 0.67);
    border: transparent;
    padding: 17px;
    color: #0063F5;
    min-width: 312px;
    transition: all 0.3s linear;
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
  }
  section.third .bg .not-mobile form input[type=text]::placeholder {
    color: #0063F5;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
  }
  section.third .bg .not-mobile form input[type=text]:focus-visible {
    outline: #0063F5;
    background: #FFFFFF;
  }
  section.third .bg .not-mobile form .button-kleo {
    display: inline-block;
    padding: 14px;
    border-color: #0063F5;
  }
  section.third .bg .not-mobile form .button-kleo:hover {
    cursor: pointer;
  }
  section.third .bg .not-mobile p {
    font-weight: 700;
    line-height: 26px;
    margin-top: 0px;
    margin-bottom: 23px;
    font-size: 16px;
  }

  footer {
    background-color: #000000;
    padding: 0px 104px;
    padding-bottom: 48px;
  }
  footer p {
    margin: auto;
    max-width: 1288px;
    font-size: 16px;
    opacity: 0.6;
    color: #E5E5E5;
  }
}
@media (min-width: 1440px) {
  header .row .col-info .main-menu li.not-mobile {
    display: block;
  }
  header .row .col-info .main-menu li.not-mobile a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    opacity: 0.5;
    transition: all 0.3s linear;
  }
  header .row .col-info .main-menu li.not-mobile a:hover, header .row .col-info .main-menu li.not-mobile a:active {
    color: #0063F5;
    opacity: 1;
    cursor: pointer;
  }
}
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}