////// FONTS //////

$font-standard: 'Manrope';
$font-special: 'Lora';

////// SIZES //////
$font-desktop: 24px;
$font-mobile: 16px;
$font-subtitle-normal: 28px;
$font-subtitle-mobile: 20px;
$font-bigtitle-normal: 68px;
$font-bigtitle-mobile: 40px;
$font-smalltitle-normal: 52px;
$font-smalltitle-mobile: 28px;
$font-links-normal: 16px;
$font-links-mobile: 14px;
$font-h3-normal:36px;
$font-h3-mobile: 24px;
$font-titleform-normal: 36px;
$font-titleform-mobile: 32px;

$font-normal: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;

$lateral-desktop: 104px;

////// COLORS //////

$black:#000000;
$black2:#020202;
$black-icons: #231F20;
$grey-boxes: #303030;
$white:#FFFFFF;
$grey:#E5E5E5;
$blue:#0063F5;
$blue2:#007EF7;
$blue-form: #E5E5E5;

//GENERAL
html{
    scroll-behavior: smooth;
}
body{
    font-size: $font-mobile;
    font-family: $font-standard;
    padding: 0px;
    
    background-color: $white;
    font-weight: $font-normal;
    margin: 0px;
    color: $white;
    line-height: 22px;
}
.global-bg-black{
    background-color: $black;
}
.not-mobile{
    display: none;
}
.in-mobile{
    display: block;
}
h1,h2,h3{
    font-family: $font-special;
    font-weight: $font-normal;
    margin-bottom: 0px;
}
.big-title{
    font-size: $font-bigtitle-mobile;
    line-height: 51px;
}
.subtitle{
    font-size: $font-subtitle-mobile;
    line-height: 27px;
    opacity: 0.6;
    margin-bottom: 0px;
}
.title{
    font-size: $font-smalltitle-mobile;
    line-height: 36px;
}
.box{
    background: $white;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
}

//BUTTONS
.button-kleo{
    padding: 12px 30px;
    background-color: transparent;
    font-size: $font-links-normal;
    font-weight: $font-bold;
    text-decoration: none;
    color: $white;
    transition: 0.3s all linear;
    border: 1px solid $white;
    display: block;
    text-align: center;
    &:hover{
        border: 1px solid transparent;
        background-color: $blue;
        box-shadow: 0px 8px 14px rgba(0, 99, 245, 0.2);
    }
}

//HEADER
header{
    ul{
        list-style: none;
        padding: 0px;
        margin: 0px;
    }
    .col-info{
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 24px;
        padding-top: 40px;
        background-color: $black;
        .main-menu{
            font-size: $font-links-mobile;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            li{
                height: fit-content;
            }
        }
        .list-header{
            margin-top: 32px;
            span{
                color: $blue;
                margin-right: 12px;
            }
            li{
                margin-bottom: 12px;
                display: flex;
                flex-direction: row;
            }
        }
        .logo {
            text-indent:-99999px;
            width: 96px;
            height: 27px;
            background-repeat: no-repeat;
            background-image: url('../images/logo-kleo.png');
            display: block;
        }
    }
    .col-image{
        background-color: $white;
        .papers{
            padding-top: 36px;
            position: relative;
            .logos{
                .p-absolute{
                    position: absolute;
                    display: block;
                }
                .minutos-logo{
                    top: 10%;
                    left: 5%;
                }
                .abc-logo{
                    top: 23%;
                    left: 11%;
                }
                .pais-logo{
                    top: 3%;
                    left: 23%;
                }
                .confidencial-logo{
                    top: 2%;
                    left: 52%;
                }
                .as-logo{
                    top: 31%;
                    left: 8%;
                }
                .mundo-logo{
                    top: 10%;
                    left: 37%;
                }
                .razon-logo{
                    top: 9%;
                    left: 75%;
                }
                .vanguardia-logo{
                    top: 15%;
                    left: 18%;
                }
                .marca-logo{
                    top: 19%;
                    left: 59%;
                }
                .expansion-logo{  
                    top: 19%;
                    left: 76%;
                }
            }
            .mobile{
                width: 100%;
            }
        }
    }
}
//SECTIONS
section.first{
    background-color: $white;
    color: $black2;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 61px;
    .first-row, .second-row, .third-row{
        .mobile{
            border-radius: 45px;
            border: 6px solid $black2;
        }
        .col-img{
            display: flex;
            justify-content: center; 
            flex-direction: row;
            position: relative;
            max-width: 375px;
            margin: auto;
            img{
                max-width: 70vw;
            }
        } 
        .title{
            margin-bottom: 12px;
            & ~ p{
                opacity: 0.6;
                margin-bottom: 20px;
            }
        }
        .box{
            padding: 18px 6px;
            border-radius: 20px;
            box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.14);
        }
        .p-absolute{
            position: absolute;
            display: block;
        }
    }
    .first-row{
        padding-bottom: 187px; 
        .logos{
            .pais-logo{
                bottom: -22%;
                left: 44%;
                padding: 27px 5px;
            }
            .razon-logo{
                bottom: 18%;
                right: 0px;
            }
            .abc-logo{
                bottom: 12%;
                left: 4%;
            }
            .mundo-logo{
                bottom: -8%;
                left: 13%;
                padding: 32px 7px;
            }
            .confidencial-logo{
                bottom: -26%;
                left: 8%;
                padding: 25px 6px;
            }
            .vanguardia-logo{
                right: 4%;
                bottom: -5%;
            }
        }
    }
    .second-row{
        padding-bottom: 173px;
        .logos{
            .youtube-logo{
                padding: 7px 19px;
                bottom: -23%;
                left: 11%;
            }
            .twitter-logo{
                bottom: -5%;
                left: 33%;
                padding: 18px 13px;
            }
            .instagram-logo{
                bottom: -12%;
                right: 5%;
                padding: 17px 28px;
            }
        }
    }
    .third-row{
        padding-bottom: 32px;
        .box{
            padding: 16px 12px;
            box-shadow: 0px 0px 16px rgb(0 0 0 / 8%);
            border-radius: 12px;
        }
        .col-list{
            display: grid;
            justify-content: flex-start;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 12px;
            .list-item{
                margin-bottom: 12px;
                .list-item-title{
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    width: 100%;
                    span{
                        color: $black-icons;
                        padding-right: 11px;
                        font-size: 23px;
                    }
                    h3{
                        margin: 0px;
                        font-family: $font-standard;
                        color: $black2;
                        font-size: $font-mobile;
                    }
                }
            }
        }
    }
}
section.second{
    padding-top: 60px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: $black;
    .title{
        margin-bottom: 12px;
        & ~ p{
            opacity: 0.6;
            margin-bottom: 24px;
        }
    }
    .plans{
        display: grid;
        justify-content: flex-start;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 7px;
        max-width: 816px;
        margin: auto;
        .plan{
            border: 1px solid $grey-boxes;
            box-sizing: border-box; 
            transition: all 0.3s linear;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 16px 12px;
            h3{
                font-weight: $font-bold;
                margin-bottom: 12px;
                font-size: $font-h3-mobile;
            }
            .price{
                span{
                    font-size: 52px;
                    font-family: $font-special;
                    font-weight: $font-bold;
                    line-height: 67px;
                    display: block;
                    color: $white;
                }
                color: rgba($white, 0.6);
            }
            ul{
                margin-top: 8px;
                padding-top: 6px;
                margin-bottom: 24px;
                border-top: 1px solid $grey-boxes;
                list-style: square;
                padding-left: 0px;
                font-size: $font-links-mobile;
                line-height: 19px;
                list-style-position: inside;
                transition: all 0.3s linear;
                li{
                    /*&::marker{
                        color: $blue;
                        margin-right: 6px;
                    }*/
                    span{
                        color: $white;
                    }
                    color: rgba($white, 0.6);
                    margin-bottom: 12px;
                    display: flex;
                    flex-direction: row;
                    position: relative;
                    margin-left: 12px;
                    &:before{ //con el elemento marker no me deja tocar el margin que tiene por defecto
                        position: absolute;
                        content: "";
                        display: block;
                        background-color: $blue;
                        width: 6px;
                        height: 6px;
                        top: 6px;
                        left: -12px;
                    }
                    p{
                        margin: 0px;
                    }
                }
            }
            .button-kleo{
                font-size: $font-links-mobile;
                padding: 13px;
            }
            &:hover{
                border: 1px solid $blue;
                ul{
                    border-top: 1px solid $blue;
                }
            }
        }
    }
}
section.third {
    padding-bottom: 22px;
    .bg{
        background-color: $blue;
        margin-left: 16px;
        margin-right: 32px;
        margin-top: 141px;
        padding: 49px 16px;
        position: relative;
        transform-style: preserve-3d; //para el efecto del after, sino tapa el bg
        &::before{
            position: absolute;
            display: block;
            content: "";
            width: 100%;
            height: 100%;
            background-image: url('../images/lastsection-mobile-kleo.png');
            background-repeat: no-repeat;
            background-size: cover;
            opacity: 0.4;
            top: 0px;
            left: 0px;
        }
        &::after{
            position: absolute;
            display: block;
            content: "";
            width: 100%;
            height: 100%;
            top: 6px;
            left: 6px;
            border: 1px solid $blue;
            transform: translateZ(-1px);
        }
        h2{
            font-size: $font-titleform-mobile;
            line-height: 44px;
            width: 69vw;
            margin-top: 0px;
        }
    }
}


//MEDIAS 
//1440px up todo OK
@media (min-width:1024px){
    //GENERAL
    body{
        font-size: $font-desktop;
        padding-top: 0px;
        line-height: 33px;
    }
    .container-sc{
        max-width: 1440px;
        margin: auto;
    }
    .title-header{
        margin: 0px;
    }
    .big-title{
        font-size: $font-bigtitle-normal;
        margin-top: 52px;
        line-height: 86px;
        max-width: 614px;
    }
    .title{
        font-size: $font-smalltitle-normal;
        margin-top: 0px;
        line-height: 67px;
    }
    .subtitle{
        font-size: $font-subtitle-normal;
        line-height: 42px;
        margin-top: 16px;
        max-width: 514px;
    }
    .not-mobile{
        display: block;
    }
    .in-mobile{
        display: none;
    }

    //HEADER
    header{
        position: relative;
        &::before{
            position: absolute;
            content: "";
            display: block;
            z-index: -1;
            top: 0px;
            left: -50%;
            width: 50vw;
            height: calc(100% + 1px);
            background-color: $black;
        }
        
        .row{
            display: grid;
            justify-content: center;
            grid-template-columns: repeat(13, 1fr);
            grid-gap: 0px;
            .col-info{
                grid-column: span 8;
                padding-left: 106px;
                padding-right: 24px;
                padding-bottom: 148px;
                padding-top: 0px;
                margin-bottom: 0px;
                background-color: $black;
                .main-menu{
                    margin-top: 31px;
                    .not-mobile a{
                        text-decoration: none;
                        color: $white;
                        font-size: $font-links-normal;
                        font-weight: $font-semibold;
                        opacity: 0.5;
                        transition: all 0.3s linear;
                        &:hover, &:active{
                            color: $blue;
                            opacity: 1;
                            cursor: pointer;
                        }
                    }
                }
                .list-header{
                    margin-top: 24px;
                    li{
                        font-size: 18px;
                    }
                }
            }
            .col-image{
                grid-column: span 5;
                .papers{
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding-top: 0px;
                    .logos{
                        padding-left: 54px;
                        padding-right: 33px;
                        padding-top: 31px;
                        .p-absolute{
                            position: relative;
                            top: auto;
                            left: auto;
                            display: inline-block;
                        }.abc-logo{
                            top: -18px;
                            left: 4px;
                        }
                        .pais-logo{
                            margin: 0px 60px;
                            top: -15px;
                        }
                        .confidencial-logo{
                            top: -16px;
                        }
                        .vanguardia-logo{
                            top: 7px;
                            left: -23px;
                        }
                        .mundo-logo{
                            top: -15px;
                            margin-left: 17px;
                            margin-right: 72px;
                        }
                        .minutos-logo{
                            margin-left: 49px;
                            top: -14px;
                        }
                        .marca-logo{
                            margin-left: 70px;
                            margin-right: 40px;
                            top: -14px;
                        }
                        .expansion-logo{
                            top: 34px;
                        }
                    }
                    picture{
                        display: flex;
                        align-items: flex-end;
                        justify-content: flex-start;
                        img{
                            width: auto;
                        }
                    }
                }
            }
        }
        
    }
    //SECTIONS
    section.first{
        position: relative;
        padding-top:0px;
        padding-left: $lateral-desktop;
        padding-right: $lateral-desktop;
        .first-row, .second-row, .third-row{
            .title{
                margin-bottom: 0px;
            }
        }
        .first-row, .second-row{
            display: grid;
            justify-content: center;
            grid-template-columns: repeat(13, 1fr);
            grid-gap: 0px;
        }
        .first-row{
            padding-top: 120px;
            padding-bottom: 0px;
            .title{
                & ~ p{
                    max-width: 504px;
                }
            }
            .col-text{
                grid-column: span 7;
            }
            .col-img{
                grid-column: span 4;
                width: 100%;
                max-width: none;
                justify-content: space-between;
                padding-left: 100px;
            }
            .logos{
                .razon-logo{
                    bottom: 48%;
                    right: unset;
                    left: 347px;
                }
                .abc-logo{
                    bottom: 14%;
                    left: -21px;
                }
                .vanguardia-logo{
                    right: unset;
                    left: -77px;
                    bottom: 33%;
                }
                .mundo-logo{
                    left: 393px;
                    bottom: 27%;
                    padding: 27px 7px;
                }
                .pais-logo{
                    bottom: 50%;
                    left: 0%;
                }
                .confidencial-logo{
                    padding: 22px 9px;
                    bottom: 9%;
                    left: 364px;
                }
            }
        }
        .second-row{
            padding-top: 100px;
            padding-bottom: 0px;
            .col-text{
                grid-column: span 7;
                order: 2;
                .title{
                    max-width: 520px;
                    & ~ p{
                        max-width: 443px;
                    }
                }
            }
            .col-img{
                grid-column: span 6;
                width: 100%;
                max-width: none;
                justify-content: space-between;
            }
            .logos{
                .instagram-logo{
                    padding: 10px 30px;
                    bottom: 4%;
                    right: unset;
                    left: 364px;
                }
                .twitter-logo{
                    bottom: 23%;
                    left: 272px;
                }
                .youtube-logo{
                    padding: 0px 22px;
                    left: 339px;
                    bottom: 41%;
                }
            }
        }
        .third-row{
            text-align: center;
            padding-top: 160px;
            padding-bottom: 141px;
            overflow: hidden;
            width: 100%;
            max-width: 1233px;
            margin: auto;
            .title{
                max-width: 640px;
                margin: auto;
                & ~ p{
                    margin-bottom: 78px;
                }
            }
            .col-list{
                /*display: grid;*/
                justify-content: center;
                grid-template-columns: repeat(10, minmax(0, 110px));
                grid-gap: 14px;
                display: flex;
                .list-item{
                    max-width: calc(110px - 18px);
                    grid-column: span 1;
                    margin: 0px;
                    width: auto;
                    padding: 16px 9px;
                    .list-item-title{
                        display: inline-block;
                        padding-bottom: 16px;
                        border-bottom: 1px solid rgba($black2, 0.1);
                        margin-bottom: 27px;
                        span{
                            padding: 0px;
                        }
                    }
                }
                //animacio JS
                animation: slider 10s infinite linear;
                @keyframes slider {
                    0% { transform: translateX(0%); }
                    100% { transform: translateX(-50%); }
                }
            }
        }
    }
    section.second{
        padding-top: 120px;
        padding-left: $lateral-desktop;
        padding-right: $lateral-desktop;
        text-align: center;
        .title{
            margin-bottom: 0px;
            & ~ p{
                max-width: 506px;
                margin: auto;
                margin-top: 28px;
                margin-bottom: 64px;
            }
        }
        .plans{
            max-width: 816px;
            margin: auto;
            text-align: start;
            .plan{
                padding: 32px 20px;
                padding-bottom: 24px;
                h3{
                    font-size: $font-titleform-mobile;
                    line-height: 46px;
                    margin-top: 0px;
                    margin-bottom: 10px;
                    & ~ p:not(.price){
                        max-width: 320px;
                        margin-top: 0px;
                        margin-bottom: 11px;
                        font-size: $font-mobile;
                        opacity: 0.6;
                    }
                }
                .price{
                    margin-top: 0px;
                    margin-bottom: 28px;
                    font-size: 13px;
                    line-height: 18px;
                    span{
                        display: inline-block;
                        margin-right: 10px;
                    }
                }
                ul{
                    margin-top: 0px;
                    padding-top: 20px;
                    margin-bottom: 11px;
                }
                .button-kleo{
                    font-size: $font-links-normal;
                    line-height: 26px;
                }
            }
        }
    }
    section.third{
        padding: 0px $lateral-desktop;
        padding-bottom: 44px;
        .bg{
            margin: auto;
            margin-top: 120px;
            max-width: 1232px;
            padding-left: 40px;
            padding-top: 60px;
            background-color: $blue2;
            &::before{
                background-image: url("../images/lastsection-desktop-kleo.png");
                background-size: auto 100%;
                background-position: right;
                z-index: -1;
            }
            &::after{
                top: 20px;
                left: 20px;
            }
            h2{
                max-width: 764px;
                font-size: $font-titleform-normal;
                line-height: 46px;
                margin-bottom: 11px;
            }
            .not-mobile{
                form{
                    display: flex;
                    label{
                        visibility: hidden;
                        position: absolute;
                        left: -99999999px;
                    }
                    input[type="text"]{
                        background-color: rgba($blue-form, 0.67);
                        border: transparent;
                        padding: 17px;
                        color: $blue;
                        min-width: 312px;
                        transition: all 0.3s linear;
                        display: inline-block;
                        font-weight: $font-medium;
                        font-size: $font-mobile;
                        line-height: 26px;
                        &::placeholder{
                            color: $blue;
                            font-weight: $font-medium;
                            font-size: $font-mobile;
                            line-height: 26px;
                        }
                        &:focus-visible{
                            outline: $blue;
                            background: $white;
                        }
                    }
                    .button-kleo{
                        display: inline-block;
                        padding: 14px;
                        &:hover{
                            cursor: pointer;
                        }
                    }
                }
                p{
                    font-weight: $font-bold;
                    line-height: 26px;
                    margin-top: 0px;
                    margin-bottom: 23px;
                    font-size: $font-mobile;
                }
            }
        }
    }
    //FOOTER olny in desktop
    footer{
        background-color: $black;
        padding: 0px 104px;
        padding-bottom: 48px;
        p{
            margin: auto;
            max-width: 1288px;
            font-size: $font-mobile;
            opacity: 0.6;
            color: $grey;
        }
    }
}
