@font-face {
    font-family: 'Lora';
    src: url('Lora-Regular.eot');
    src: url('Lora-Regular.eot?#iefix') format('embedded-opentype'),
        url('Lora-Regular.woff2') format('woff2'),
        url('Lora-Regular.woff') format('woff'),
        url('Lora-Regular.ttf') format('truetype'),
        url('Lora-Regular.svg#Lora-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Manrope';
    src: url('Manrope-Regular.eot');
    src: url('Manrope-Regular.eot?#iefix') format('embedded-opentype'),
        url('Manrope-Regular.woff2') format('woff2'),
        url('Manrope-Regular.woff') format('woff'),
        url('Manrope-Regular.ttf') format('truetype'),
        url('Manrope-Regular.svg#Manrope-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
  font-family: 'Manrope';
  src: url('Manrope-SemiBold.eot');
  src: url('Manrope-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('Manrope-SemiBold.woff2') format('woff2'),
      url('Manrope-SemiBold.woff') format('woff'),
      url('Manrope-SemiBold.ttf') format('truetype'),
      url('Manrope-SemiBold.svg#Manrope-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('Manrope-Bold.eot');
  src: url('Manrope-Bold.eot?#iefix') format('embedded-opentype'),
      url('Manrope-Bold.woff2') format('woff2'),
      url('Manrope-Bold.woff') format('woff'),
      url('Manrope-Bold.ttf') format('truetype'),
      url('Manrope-Bold.svg#Manrope-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
/*ICONS*/
@font-face {
  font-family: 'singularCovers';
  src:  url('singularCovers.eot?c39blp');
  src:  url('singularCovers.eot?c39blp#iefix') format('embedded-opentype'),
    url('singularCovers.ttf?c39blp') format('truetype'),
    url('singularCovers.woff?c39blp') format('woff'),
    url('singularCovers.svg?c39blp#singularCovers') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'singularCovers' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-travel:before {
  content: "\e900";
}
.icon-search:before {
  content: "\e901";
}
.icon-star:before {
  content: "\e902";
}
.icon-image:before {
  content: "\e903";
}
.icon-file:before {
  content: "\e906";
}
.icon-financial:before {
  content: "\e90c";
}
.icon-health:before {
  content: "\e907";
}
.icon-music:before {
  content: "\e910";
}
.icon-science:before {
  content: "\e90b";
}
.icon-social:before {
  content: "\e90a";
}
.icon-sport:before {
  content: "\e905";
}
.icon-tech:before {
  content: "\e908";
}
.icon-videogames:before {
  content: "\e909";
}
.icon-cinema:before {
  content: "\e904";
}

